body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #273444;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Evita que la página se desplace */
}

.button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 389px; /* Ajusta este valor para bajar más los botones */
}

.circle-button {
    width: 50px; /* Tamaño fijo para laptops y PCs */
    height: 50px;
    border-radius: 50%;
    background-color: #6DAA81;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente fijo */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px; /* Espaciado entre botones */
    outline: none;
    transition: background-color 0.3s;
}

.circle-button:hover {
    background-color: #5c9b73; /* Cambio de color al pasar el ratón */
}

.item-container {
    display: none;
    position: absolute;
    top: -70vh; /* Ajusta el top a un porcentaje de la pantalla */
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* Ancho fijo para el contenedor de formulario */
    height: auto; /* Alto automático para ajustarse al contenido */
    padding: 20px; /* Espaciado interno */
    background-color: #6DAA81;
    color: #273444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.item-container.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -10px);
}

.slider-container {
    display: none;
}

@media (max-width: 768px) {
    .circle-button {
        width: 15vw; /* Se ajusta a un porcentaje de la pantalla en móviles */
        height: 15vw;
        font-size: 4vw; /* Tamaño de fuente relativo a la pantalla */
    }

    .item-container {
        width: 80vw; /* Se ajusta al ancho de la pantalla en móviles */
        height: 60vh; /* Ajusta el alto */
    }

    .slider-container {
        display: flex;
        position: absolute;
        bottom: 10vh;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
    }
    
    .slider-button {
        width: 15vw;
        height: 15vw;
        font-size: 5vw;
    }
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
